/* 
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(107, 138, 231);

}
.calculator{
    font-family: Arial,  sans-serif;
    background-color: rgba(4, 4, 45, 0.917);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    position: relative;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background:rgba(0, 0, 0, 0.273);
}

.keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  padding: 25px;  
}
/* *{
 margin: 0;
 padding: 0;
 box-sizing:border-box ;  
  text-decoration: none;
} 
button{
    width: 80px;
    height: 80px;
    border-radius: 40%;
    border:none;
    background-color:rgba(17, 3, 3, 0.507);
    color: #ffff;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer; 
    justify-content: center;
    align-items: center;
    
}
button :hover{
    background-color: rgba(23, 23, 247, 0.944);
}
button :active{
    background-color:rgba(18, 18, 235, 0.908);

}
.operator-btn{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn :hover{
    background-color: hsl(35, 100%, 75%);

}
#name{
    color: #ffff;
    font-size: 20px;
    position: absolute;
    bottom: 0rem;
    left: 62%;
    transform: translateX(-50%);
}



 */

 body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(107, 138, 231);
}

.calculator {
    font-family: Arial, sans-serif;
    background-color: rgba(4, 4, 45, 0.917);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    position: relative;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background: rgba(0, 0, 0, 0.273);
    color: #fff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 40%;
    border: none;
    background-color: rgba(17, 3, 3, 0.507);
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


button:hover {
    background-color: rgba(23, 23, 247, 0.944);
}
button:active {
    background-color: rgba(18, 18, 235, 0.908);
}

.operator-btn {
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:hover {
    background-color: hsl(35, 100%, 75%);
}


#name {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 0%;
    left: 62%;
    transform: translateX(-50%);
}

